<?xml version="1.0" encoding="UTF-8" standalone="no" ?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0">  <dict>    <key>NSHumanReadableCopyright</key>    <string>© 4D SAS 2014-2020</string>    <key>CFBundleShortVersionString</key>    <string>18R2</string>    <key>CFBundleLongVersionString</key>    <string>18R2</string>    <key>CFBundleGetInfoString</key>    <string>4D SVG</string>    <key>CFBundleName</key>    <string>4D SVG</string>    <key>CFBundleVersion</key>    <string>102</string>  </dict></plist>
